<div class="background-wrapper">
    <div class="background-img"></div>
    <h2 style="display: none" class="overlay-text">- Alt er Kjemi!</h2>
</div>
<div class="reviews">
    <div class="review review-one" data-toggle="modal" data-target="#reviewOneModal">
        <blockquote class="quote">
            <p>Læringen var eksamensrettet og foregikk på en måte som gjorde det gøy å lære kjemi.</p><br />
            <footer>Sara (20) tidl. elev<br /><cite title="Source Title">Medisinstudent, UiB</cite></footer>
        </blockquote>
    </div>
    <div class="review review-two" data-toggle="modal" data-target="#reviewTwoModal">
        <blockquote class="quote">
            <p>Håvard hjalp meg med å mestre kjemi og få toppkarakter på eksamen.</p><br />
            <footer>Shan (20) tidl. elev <br /><cite title="Source Title">Molekylærbiologi, UiO</cite></footer>
        </blockquote>
    </div>

    <div class="review review-three" data-toggle="modal" data-target="#reviewThreeModal">
        <blockquote class="quote">
            <p>Med Håvard som lærer så kan du sikre deg god forståelse, og egenskapen til å kunne anvende den kunnskapen.</p>
            <footer>Jan (19) tidl. elev<br /> <cite title="Source Title">Tannlegestudent, UiO</cite></footer>
        </blockquote>
    </div>

    <div class="review review-four" data-toggle="modal" data-target="#reviewFourModal">
        <blockquote class="quote">
            <p>Ønsker du å bli ekspert i kjemi søker du definitivt etter disse to kjemikongene. </p><br />
            <footer>Marwa (20) tidl. elev<br /><cite title="Source Title">Medisinstudent, UiO</cite></footer>
        </blockquote>
    </div>
</div>

<div class="container spacing">
    <div class="row">
        <div class="jumbotron">
            <h1>Trenger du kjemi for å nå drømmene dine?</h1>
            <p>Vi er to kjemilærere som virkelig brenner for kjemifaget. Derfor har vi startet en bedrift hvor vi ønsker å dele kjemikunnskapene våre med lovende unge mennesker som må mestre kjemi for å nå drømmene sine.</p>
            <p>
                Fagkompetansen vår er enestående med mange års erfaring fra videregående skole, og muntlig og skriftlig eksaminering og sensurering. For tiden fokuserer vi på salg av vårt nyskrevne kompendium i Kjemi 2. Et viktig verktøy til alle som skal ha skriftlig eksamen i kjemi, og det eneste i sitt slag i Norge. Oppgaveregningen i lærebøkene er i hovedsak pedagogisk rettet og til liten hjelp i forberedelsene til kjemieksamen. Eksamensoppgavene skal ikke hjelpe deg å lære stoffet, men teste hva du kan. Derfor oppfattes eksamensoppgaver ofte som vesentlig vanskeligere enn oppgavene du gjør i boka. Vi ønsker oss at du skal lykkes på eksamen og har prøvd å gjenskape eksamensoppgaver fra alle hovedområdene i Kjemi 2. Tilsammen over 300 oppgaver fordelt på 130 sider. Halvparten multiple choice og halvparten langsvar. Akkurat som på eksamen.
            </p>
            <p>
                I tillegg gir vi privattimer i Kjemi 1 & 2, helt tilpasset ditt eget læringstempo og med vekt på det som du mangler for å få forståelse for kjemi. Vi utfører all undervisning på egenhånd og leier ikke inn studenter for å gjøre det for oss. Mer informasjon om dette finnes lengre ned på siden. Velkommen!
            </p>
            <img class="img-rounded img-responsive center-img" src="~/images/glass.jpeg" />
        </div>
    </div>
    <div id="kompendium1" class="row spacing">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-7">
                    <h4>
                        Kompendium - Kjemi 1
                    </h4>
                    <p>
                        Sensasjonelt i Norge. Kompendium i Kjemi 1 med over 1000 eksamensrelaterte oppgaver på norsk.
                    </p>
                    Dette får du:
                    <ul>
                        <li>Over 1000 eksamensrelaterte oppgaver fra alle hovedområdene.</li>
                        <li>Halvparten multiple choice og halvparten langsvarsoppgaver.</li>
                        <li>Oppgaver valgt ut og skrevet av oss.</li>
                        <li>Uvurderlig trening til muntlig-praktisk eksamen.</li>
                        <li>Fasit til alle oppgaver.</li>
                        <li>Kompendiet er pent innbundet og i farger.</li>
                    </ul>
                    <i>Eksklusivt:</i>
                    <ul>
                        <li>Oppgaver kategorisert etter vanskelighetsgradene: 
                            <ul>
                                <li>Lett (<strong>L</strong>)</li>
                                <li>Middels (<strong>M</strong>)</li>
                                <li>Vanskelig (<strong>V</strong>)</li>
                            </ul>
                        <li>Med innholdsfortegnelse.</li>
                        <li>Mal for muntlig-praktisk eksamen.</li>
                    </ul>
                    <p>Kun 649 kr (inkl. frakt).</p>
                    <a class="btn btn-primary btn-hg" data-toggle="modal" data-target="#kompendiumModal1">Bestill</a>
                </div>
                <div class="col-md-5">
                    <img class="img-rounded img-responsive center-img molecule" src="~/images/Trinitrotoluene.svg.png" />
                </div>
            </div>
        </div>
    </div>
    <div id="kompendium2" class="row spacing">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-7">
                    <h4>
                        Kompendium - Kjemi 2
                    </h4>
                    <p>
                        Sensasjonelt i Norge. Kompendium i Kjemi 2 med over 300 eksamensrelaterte oppgaver på norsk.
                    </p>
                    Dette får du:
                    <ul>
                        <li>Over 300 eksamensrelaterte oppgaver fra alle hovedområdene.</li>
                        <li>Halvparten multiple choice og halvparten langsvarsoppgaver.</li>
                        <li>Oppgaver valgt ut og skrevet av oss.</li>
                        <li>Uvurderlig trening til muntlig-praktisk og skriftlig eksamen.</li>
                        <li>Fasit til alle oppgaver.</li>
                        <li>Kompendiet er lov til å ha med seg som hjelpemiddel på del 2 på eksamen.</li>
                        <li>Kompendiet er pent innbundet og i farger.</li>
                    </ul>
                    <p>Kun 649 kr (inkl. frakt).</p>
                    <a class="btn btn-primary btn-hg" data-toggle="modal" data-target="#kompendiumModal2">Bestill</a>
                </div>
                <div class="col-md-5">
                    <img class="img-rounded img-responsive center-img molecule" src="~/images/schema.png" />
                </div>
            </div>
        </div>
    </div>

    @*<div id="workshop" class="spacing row">
            <div class="jumbotron">
                <div class="row">
                    <h4>Workshop - Kjemi 2</h4>
                    <p>
                        NB! Påmelding til Workshop forutsetter at du har kjøpt kompendiet i Kjemi 2.
                    </p>
                    <p>
                        Håvard Ryan og Carl-Joachim Isachsen fra Kjemia leder 5 timers gjennomregningen av utvalgte oppgaver fra kompendiet i Kjemi 2, lørdag 10. desember. (KLOKKESLETT, PAUSE
                        OG HVOR). Oppgavene velges ut av oss og vil være eksamensrelevante. Alle hovedområdene i Kjemi 2 vil bli dekket.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <p>Dette får du:</p>
                        <ul>
                            <li>3 timer med utregninger og forklaringer på utvalgte oppgaver fra kompendiet i Kjemi 2.</li>
                            <li>2 timer med egenregning og veiledning.</li>
                            <li>2 lærer på max. 16 elever.</li>
                            <li>Utvalgte oppgaver blir sendt på mail to uker før workshop for forberedelse.</li>
                            <li>Utregningen av oppgavene er lov å ha med seg på skriftlig eksamen.</li>
                            <li>Kompendiet er også lov å ha med skriftlig eksamen.</li>
                        </ul>
                        <p>Kun 1200 kr.</p>
                        <button class="btn btn-primary btn-hg" data-toggle="modal" data-target="#workshopModal">Bestill</button>
                    </div>
                    <div class="col-md-4 workshop-img">
                        <img class="img-rounded img-responsive center-img" src="~/images/glass.jpeg" />
                    </div>
                </div>
            </div>
        </div>*@

    <div id="eksamen" class="spacing row">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-8">
                    <h4>Generalprøve i muntlig-praktisk eksamen - Kjemi 1, Kjemi 2 & Naturfag</h4>
                    <p>
                        50 min. med generalprøve i muntlig-praktisk eksamen. Vi ringer deg og avtaler tidspunkt etter ditt behov.
                    </p>
                    <p>
                        Dette får du:
                    </p>
                    <ul>
                        <li>En realistisk gjennomføring av muntlig-praktisk eksamen med oss som eksaminator og sensor.</li>
                        <li>To oppgaver fra to av hovedområdene i ditt fag, akkurat som på muntlig-praktisk eksamen.</li>
                        <li>20 min. med utspørring i emne nummer en, og 20 minutter med utspørring i emne nummer to. </li>
                        <li>Vi tar med utstyr til gjennomføring av praktisk forsøk i emne nummer to.</li>
                        <li>Du får vår vurdering av eksamen, karakter og forslag til forbedringsområder.</li>
                    </ul>
                    <br>
                    <p>Kun 1200 kr.</p>
                    <span>Ta kontakt for generalprøve: </span><a href="mailto:kontakt@kjemia.no"><strong>kontakt at kjemia dot no</strong></a>
                </div>
                <div class="col-md-4 workshop-img">
                    <img class="img-rounded img-responsive center-img" src="https://tse1.mm.bing.net/th?id=OIP.M2df56a4be989679af532a757c51986ffo0&pid=Api" />
                </div>
            </div>
        </div>
    </div>

    <div id="privat" class="spacing row">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-8">
                    <h4>Privatundervisning:</h4>
                    <h6> - Kjemi 1, Kjemi 2, Biologi 1, Biologi 2 & Naturfag</h6>
                    <p>
                        Én-til-én privattimer i ditt fag tilpasset ditt eget tempo.
                        Undervisning gjennomføres etter avtale.
                        Vi kommer hjem til deg eller møter deg på et bibliotek i nærheten.
                    </p>
                    <p>Dette får du:</p>
                    <ul>
                        <li>En individuell avtale tilpasset ditt behov.</li>
                        <li>Forklaring på alle mekanismer.</li>
                        <li>Hjelp til alle utregninger.</li>
                        <li>Svar på alle spørsmål om eksamen.</li>
                        <li>En lærer som er ung og forklarer faget med eksempler du kan kjenne deg igjen i.</li>
                        <li>De mest erfarne lærerne på markedet.</li>
                        <li>Vi tar med utstyr og gjennomfører praktiske forsøk.</li>
                    </ul>
                    <p>Kun 900 kr. for en skoletime à 45 minutter. Faktura sendes på mail etter gjennomført undervisning.</p>
                    <span>Ta kontakt for privatundervisning: </span><a href="mailto:kontakt@kjemia.no"><strong>kontakt at kjemia dot no</strong></a>
                </div>
                <div class="col-md-4 workshop-img">
                    <img class="img-rounded img-responsive center-img blackboard" src="~/images/blackboard.jpeg" />
                </div>
            </div>
        </div>
    </div>
    <div id="omoss" class="spacing row">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <h4>Om oss</h4>
                    <p>
                        Vi har over ti års erfaring som lærere i Kjemi 1, Kjemi 2, Biologi 1, Biologi 2 & Naturfag.
                        I løpet av disse årene har vi hatt elever som har gått ut med toppkarakter i både standpunktkarakterer og på eksamen.
                        Som sensorer har vi eksaminert over 3000 kandidater i muntlig-praktisk og skriftlig eksamen.
                    </p>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="user one center-img">
                        </div>
                        <ul>
                            <li>Håvard har mastergrad i toksikologi fra Folkehelseinstituttet og UiO.</li>
                            <li>Praktisk-pedagogisk utdanning fra UiO.</li>
                            <li>Jobber til daglig som lektor i Osloskolen.</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="user two center-img">
                        </div>
                        <ul>
                            <li>Carl-Joachim har mastergrad i fysiologi og nevrobiologi fra UiO.</li>
                            <li>Praktisk-pedagogisk utdanning fra UiO.</li>
                            <li>Jobber til daglig som lektor på Akademiet.</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                        <span>Hvis det er noe du lurer på, send oss gjerne epost,</span> <a href="mailto:kontakt@kjemia.no"><strong>kontakt at kjemia dot no</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal spacing" id="kompendiumModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Bestill kompendium for Kjemi 1</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" data-bind="textInput: name" placeholder="Ditt for- og etternavn *" class="form-control input-lg" />
                    </div>
                    <div class="form-group">
                        <input type="text" data-bind="textInput: phone" required placeholder="Ditt telefon-nummer" class="form-control input-lg" />
                    </div>
                    <div class="form-group">
                        <input type="text" data-bind="textInput: address" placeholder="Din adresse *" class="form-control input-lg" />
                    </div>
                    <div class="form-group">
                        <input type="text" data-bind="textInput: postnummer" placeholder="Postnummer *" class="form-control input-lg" />
                    </div>
                    <div class="form-group">
                        <input type="text" data-bind="textInput: poststed" placeholder="Poststed *" class="form-control input-lg" />
                    </div>
                    <div class="form-group">
                        <input type="text" data-bind="textInput: highSchool" placeholder="Din videregåendeskole *" class="form-control input-lg" />
                    </div>
                    <div class="ordered-error" data-bind="if: showError()">
                        <label>
                            Du kan dessverre ikke kjøpe kompendiumet om du er elev ved Sonans eller Akademiet.
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-default btn-wide">Avbryt</a>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="TNBWFQDK9Z874">
                        <button data-bind="enable: !showError()
                                && name() != undefined &&  name() != ''
                                && phone() != undefined  && phone() != ''
                                && address() != undefined && address() != ''
                                && postnummer() != undefined && postnummer() != ''
                                && poststed() != undefined && poststed() != ''
                                && highSchool() != undefined && highSchool() !=''"
                                type="submit" id="compendiumButton1" class="btn btn-primary" name="submit" alt="PayPal – en trygg og enkel betalingsmetode på nettet!">
                            Kjøp <i class="fa fa-paypal" aria-hidden="true"></i>
                        </button>
                        <img style="display: none" alt="" border="0" src="https://www.paypalobjects.com/no_NO/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal spacing" id="kompendiumModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Bestill kompendium for Kjemi 2</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" data-bind="textInput: name" placeholder="Ditt for- og etternavn *" class="form-control input-lg" />
                    </div>
                    <div class="form-group">
                        <input type="text" data-bind="textInput: phone" required placeholder="Ditt telefon-nummer" class="form-control input-lg" />
                    </div>
                    <div class="form-group">
                        <input type="text" data-bind="textInput: address" placeholder="Din adresse *" class="form-control input-lg" />
                    </div>
                    <div class="form-group">
                        <input type="text" data-bind="textInput: postnummer" placeholder="Postnummer *" class="form-control input-lg" />
                    </div>
                    <div class="form-group">
                        <input type="text" data-bind="textInput: poststed" placeholder="Poststed *" class="form-control input-lg" />
                    </div>
                    <div class="form-group">
                        <input type="text" data-bind="textInput: highSchool" placeholder="Din videregåendeskole *" class="form-control input-lg" />
                    </div>
                    <div class="ordered-error" data-bind="if: showError()">
                        <label>
                            Du kan dessverre ikke kjøpe kompendiumet om du er elev ved Sonans eller Akademiet.
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-default btn-wide">Avbryt</a>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="9HW86AJ9AXPRY">
                        <button data-bind="enable: !showError()
                                && name() != undefined &&  name() != ''
                                && phone() != undefined  && phone() != ''
                                && address() != undefined && address() != ''
                                && postnummer() != undefined && postnummer() != ''
                                && poststed() != undefined && poststed() != ''
                                && highSchool() != undefined && highSchool() !=''"
                                type="submit" id="compendiumButton2" class="btn btn-primary" name="submit" alt="PayPal – en trygg og enkel betalingsmetode på nettet!">
                            Kjøp <i class="fa fa-paypal" aria-hidden="true"></i>
                        </button>
                        <img style="display: none" alt="" border="0" src="https://www.paypalobjects.com/no_NO/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="modal spacing" id="workshopModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Bestill workshop</h4>
            </div>

            <div class="modal-body">
                <div class="form-group" data-bind="{ has-error: nameError()}">
                    <input type="text" placeholder="Ditt navn" class="form-control input-lg" />
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Din adresse" class="form-control input-lg" />
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Din epost" class="form-control input-lg" />
                </div>
                <div class="form-group">
                    <input type="text" data-bind="value: highSchool" placeholder="Din videregåendeskole *" class="form-control input-lg" />
                </div>
                <div class="form-group">
                    Forutsetning: du har kjøpt kompendiumet
                </div>
                <div class="ordered-error" data-bind="if: showError()">
                    <label>
                        Du kan dessverre ikke kjøpe kompendiumet om du er elev ved Sonans eller Akademiet.
                    </label>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-default btn-wide">Avbryt</a>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="5N8EN8SGEY9XE">
                        <button type="submit" data-bind="enable: !showError() 
                                && name() != undefined &&  name() != ''
                                && mail() != undefined  && email() != ''
                                && address() != undefined && address() != ''
                                && highSchool() != undefined && highSchool() !=''"
                                id="workshopButton" class="btn btn-primary" name="submit" alt="PayPal – en trygg og enkel betalingsmetode på nettet!">
                            Kjøp <i class="fa fa-paypal" aria-hidden="true"></i>
                        </button>
                        <img style="display: none" alt="" border="0" src="https://www.paypalobjects.com/no_NO/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="4JB8UL5JJGC3W">
                        <button type="submit" data-bind="enable: !showError()"
                                id="workshopCompendiumButton" class="btn btn-primary" name="submit" alt="PayPal – en trygg og enkel betalingsmetode på nettet!">
                            Kjøp med kompendiet <i class="fa fa-paypal" aria-hidden="true"></i>
                        </button>
                         <img alt="" style="display: none"  border="0" src="https://www.paypalobjects.com/no_NO/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="modal spacing" id="privatundervisningModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Send forespørsel om privattimer</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" data-bind="textInput: name" required placeholder="Ditt for- og etternavn" class="form-control input-sm" />
                </div>
                <div class="form-group">
                    <input type="text" data-bind="textInput: email" required placeholder="Din epost" class="form-control input-sm" />
                </div>
                <div class="form-group">
                    <input type="text" data-bind="textInput: phone" required placeholder="Ditt telefon-nummer" class="form-control input-sm" />
                </div>
                <div class="form-group">
                    <input type="text" data-bind="textInput: highSchool" placeholder="Din videregåendeskole *" class="form-control input-sm" />
                </div>
                <div class="form-group">
                    <input type="text" data-bind="textInput: address" required placeholder="Din adresse" class="form-control input-sm" />
                </div>
                <div class="ordered-error" data-bind="if: showError()">
                    <label>                        
                        Du kan dessverre ikke kjøpe kompendiumet om du er elev ved Sonans eller Akademiet.
                    </label>
                </div>
                Kontakt oss her <a href="mailto:kontakt@kjemia.no"><strong>kontakt at kjemia dot no</strong></a>
                
            </div>
            <div class="hours-ordered" data-bind="if: isSuccess()">
                <label>Din bestilling er mottatt og vi vil kontakte så fort vi får mulighet.</label>
            </div>
            <div class="modal-footer">
                <a href="#" id="closeHours" class="btn btn-default btn-wide">Avbryt</a>
                    <button type="submit" data-bind="enable: 
                                !isSuccess() && !showError() 
                                && name() != undefined && name() != ''
                                && phone() != undefined  && phone() != ''
                                && email() != undefined  && email() != ''
                                && address() != undefined && address() != ''
                                && highSchool() != undefined && highSchool() !=''" 
                id="hoursButton" class="btn btn-primary" name="submit" alt="PayPal – en trygg og enkel betalingsmetode på nettet!">
                        Send forespørsel
                    </button>
            </div>
        </div>
    </div>
</div>
<div class="modal spacing" id="eksamenModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Send forespørsel om generalprøve i eksamen</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" required data-bind="textInput: name" placeholder="Ditt for- og etternavn" class="form-control input-lg" />
                </div>
                <div class="form-group">
                    <input type="text" required data-bind="textInput: phone" placeholder="Ditt telefon-nummer" class="form-control input-lg" />
                </div>
                <div class="form-group">
                    <input type="text" required data-bind="textInput: email" placeholder="Din epost" class="form-control input-lg" />
                </div>
                <div class="form-group">
                    <input type="text" data-bind="textInput: highSchool" placeholder="Din videregåendeskole *" class="form-control input-lg" />
                </div>
            </div>
            <div class="ordered-error" data-bind="if: showError()">
                <label>
                    Du kan dessverre ikke kjøpe kompendiumet om du er elev ved Sonans eller Akademiet.
                </label>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-default btn-wide">Avbryt</a>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="SR2TZAV7SQDLJ">
                    <button type="submit" data-bind="enable: !showError() 
                                && name() != undefined &&  name() != ''
                                && phone() != undefined  && phone() != ''
                                && email() != undefined  && email() != ''
                                && highSchool() != undefined && highSchool() !=''"
                            id="examButton" class="btn btn-primary" name="submit" alt="PayPal – en trygg og enkel betalingsmetode på nettet!">
                        Kjøp <i class="fa fa-paypal" aria-hidden="true"></i>
                    </button>
                    <img style="display:none" alt="" border="0" src="https://www.paypalobjects.com/no_NO/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal spacing" id="reviewOneModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Sara (20) tidl. elev – Medisinstudiet, UiB</h4>
            </div>

            <div class="modal-body">
                <p>
                    Håvard har vært en fantastisk lærer. Jeg husker at jeg fortalte han at jeg ønsket å bli virkelig flink i kjemi. 
                    Han var ærlig og fortalte meg at det krever mye arbeid. 
                    Jeg fikk utrolig god veiledning, undervisning og hjelp med alle oppgaver. 
                    Læringen var eksamensrettet og foregikk på en måte som gjorde det gøy å lære kjemi. 
                    Jeg er takknemlig for at jeg har vært så heldig å få ha Håvard som lærer. 
                    Han bryr seg om elevene sine og gjør en ordentlig innsats. 
                    Håvard hjalp meg med å nå mine mål, og nå går jeg på medisinstudiet ved Universitet i Bergen.
                </p>
            </div>

            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-default btn-wide">Lukk</a>
            </div>
        </div>
    </div>
</div>

<div class="modal spacing" id="reviewTwoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Shan (20) tidl. elev – Studerer molekylærbiologi og biologisk kjemi, UiO</h4>
            </div>

            <div class="modal-body">
                <p>
                    Jeg skjønte tidlig at Håvard hadde en utrolig god forståelse for kjemi, og forklarte alt med gode hverdagseksempler. Det som virkelig hjalp meg med å mestre kjemi og få toppkarakter på eksamen, var den gode forståelsen jeg fikk for kjemifaget gjennom Håvard. Han hadde ikke bare en god pedagogisk læremåte, men han kunne også forklare ting i en dybde som ganske få lærere fikk til. Det som skilte Håvards læremåte fra andre lærere var at han tidligere hadde jobbet som forsker innen dette feltet, noe som ga han en utrolig god forståelse for hva som ble undervist. Dette førte igjen til at han hadde et godt svar til alle spørsmål som ble stilt. Håvard er uten tvil den beste kjemilæreren jeg har studert hos.
                    Før jeg valgte å studere kjemi 1 og 2 hos Håvard, hadde jeg en bakgrunn fra naturfag. Jeg skjønte meg ikke på "atomer, molekyler og kjemiske reaksjoner". Etter to år med Håvard, valgte jeg å gå videre med kjemistudier på Universitetet i Oslo.
                </p>
            </div>

            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-default btn-wide">Lukk</a>
            </div>
        </div>
    </div>
</div>


<div class="modal spacing" id="reviewThreeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Jan (19) tidl. elev – Profesjonsstudie tannlege, UiO</h4>
            </div>

            <div class="modal-body">
                <p>
                    Jeg har hatt gleden av å ha Håvard som lærer i tre år på VGS. Først i Naturfag, så i Kjemi 1 og så i Kjemi 2.
                    Jeg vil beskrive Håvard som en kjempeflink og motiverende lærer. 
                    Han er veldig flink til å lære bort stoff på en forståelig og morsom måte, noe som gjør at selv en elev med dårlige forkunnskaper i kjemi kan få gode eksamensresultater. 
                    Han er veldig dyktig og kompetent. Han har eksamensrettet undervisning, og jobber målrettet for at du skal klare deg best mulig på eksamen.
                    Selv har jeg bare gode erfaringer med Håvard. Nå har det gått ett par år siden jeg ble undervist av Håvard, og allikevel så sitter stoffet godt. 
                    Eksemplene han bruker er kreative, forståelige, og tilpasset ditt nivå, noe som gjør at man enklere mestrer stoffet.
                    Å vite når man vet noe og å vite når man ikke vet noe, det er kunnskap. Med Håvard som lærer så kan du sikre deg god forståelse, og egenskapen til å kunne anvende den kunnskapen.
                    Alt i alt vil jeg gi Håvard terningkast 6. Jeg vil helt definitivt anbefale Håvard som lærer. Han er helt klart en av Norges beste kjemi- og naturfagslærere. 
                </p>
            </div>

            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-default btn-wide">Lukk</a>
            </div>
        </div>
    </div>
</div>


<div class="modal spacing" id="reviewFourModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Marwa (20) tidl. elev – Medisinstudent, UiO</h4>
            </div>
            <div class="modal-body">
                <p>
                    Ønsker du å bli ekspert i kjemi søker du definitivt etter disse to kjemikongene. Jeg har vært heldig og hatt både Håvard og Carl-Joachim i kjemi 1og 2. Hvordan Håvard klarte å vekke interessen for kjemi i både meg, og andre elever, var helt utrolig. Av alt, beundret jeg hans formidlingsevne mest – måten han klarte å forklare grunnleggende prinsipper og hvordan alt hang sammen ga oss en bred forståelse av faget. Ja, han var faglig dyktig, men for meg var dette rett og slett et talent som ikke alle dyktige lærere behersket.
                    Carl Joachim derimot, hadde jeg i Kjemi 2 som jeg skulle ha avsluttende eksamen i. Her var det mye som skulle læres bort på kort tid, og kjeminivået blant elevene gjorde det ekstra utfordrende. Til tross for dette, var ikke dette merkbart i klassen da han klarte å forbedre kjeminivået blant de fleste elevene på kort tid – han brukte mye av sin fritid til å hjelpe oss slik at ingen følte seg oversett. Faglig dyktig er han uten tvil, men enda viktigere klarte han å anvende dyktigheten sin tilpasset vårt nivå, slik at det ble enklere å forstå faget.
                    Som resultat av deres arbeid og hjelp, klarte jeg å oppnå toppkarakterer i faget som jeg ellers ikke hadde fått til.
                </p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-default btn-wide">Lukk</a>
            </div>
        </div>
    </div>
</div>